.forecast {
    font-style: initial;
    font-size: 18px;
    margin-bottom: 15px;
}

.forecast__card {
    width: 800px;
     display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

.forecast__cardLeftSection {
    font-size: 16px;
}

.forecast__cardRightSection {
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.forecast__cardRightSection_img {
    height: 43px;
    width: 43px;
}