@import "../../styles/main.module.scss";

.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: $margin;
  margin-left: $margin;
}
.layout__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $layoutColor;
  padding: $padding / 3;
}
