@import "../../../styles/main.module.scss";

.settings__card {
  &:first-child {
    margin-top: $margin;
  }
  &:hover {
    transform: scale(1.02, 1.05);
  }
  width: 50%;
  border: 1px solid #043461f6;
  &:not(&:last-child) {
    margin-bottom: $margin;
  }
  .settings__cardDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size + 2;
    margin-right: $margin;
    .settings__cardDescriptionIcon {
      height: $heightImg - 3;
      width: $widthImg - 3;
      margin-left: $margin;
    }
  }
}
