@import "../../../styles/main.module.scss";
.header {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .header__link {
    text-decoration: none;
    font-size: $font-size * 0.5;
  }
}
